<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Cinetv</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>cinetv</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>UIMainStoryboardFile</key>
    <string>Main</string>
	
	<key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationPortraitUpsideDown</string>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
	
	 <!-- iOS 16+ için daha akıcı animasyon -->
    <key>CADisableMinimumFrameDurationOnPhone</key>
    <true/>
    <key>UIApplicationSupportsIndirectInputEvents</key>
    <true/>

    <!-- Flutter'da webview/harici player gibi gömülü görünümler için -->
    <key>io.flutter.embedded_views_preview</key>
    <true/>

	<!-- İNTERNET -->
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>

	<!-- KAMERA -->
	<key>NSCameraUsageDescription</key>
	<string>Kamera, profil resmi veya video içeriği yüklemek için kullanılacak.</string>

	<!-- MİKROFON -->
	<key>NSMicrophoneUsageDescription</key>
	<string>Sesli/video kayıt için mikrofon erişimi gereklidir.</string>

	<!-- FOTOĞRAF / GALERİ -->
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Fotoğraf veya video seçmek için galeriye erişim gereklidir.</string>

	<!-- DOSYA / MEDYA -->
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Uygulama medyayı cihaz galerisine kaydedebilir.</string>

	<!-- (Opsiyonel) Dış uygulama sorguları: YouTube/Vimeo/Dailymotion -->
    <key>LSApplicationQueriesSchemes</key>
    <array>
        <string>youtube</string>
        <string>vimeo</string>
        <string>dailymotion</string>
        <string>http</string>
        <string>https</string>
    </array>
</dict>
</plist>
